<!--

*Notice*

This is not a fully functional phpunit configuration file and will not configure PHPunit to run properly. 
This file is just an example how to configure the Psr-0 Compatibility Testsuite.

-->

<phpunit strict="true"
         verbose="true"
>

    <!-- PSR-0 test configuration 
    
        * (mandatory) __Psr0_ProjectRootNamespaces__
          is a colon separates list of the root namespaces used in your project (e.g. Liip:Jns)..
        
        * (mandatory) __Psr0_ScannerStartDir__
          represents the absolute or relative path to your source files (e.g. ../src/).
        
        * (optional) __Psr0_ScannerInclude__
          is a colon separated set of patterns which directories/files are to be recognized when scanning.
        
        * (optional) __Psr0_ScannerExclude__
          is a colon separated set of patterns which directories/files are to be ignored when scanning.
          You usually want to exclude the directories containing the tests and 3rd party source probably located in a
          vendor directory. This combines into the string shown in the floowing example:
            
              */vendor/*:*/Test/*
          
        See [*DirectoryScanner*][3] on GitHub for further information.
    
    -->
    <php>
        <const name="Psr0_ProjectRootNamespaces" value="PROJECT_ROOT_NAMESPACES"/>
        <const name="Psr0_ScannerStartDir" value="../src"/>
        <const name="Psr0_ScannerInclude" value="*.php"/>
        <const name="Psr0_ScannerExclude" value="*/vendor/*:*/Test/*"/>
    </php>
  
</phpunit>